<button mat-mini-fab class="me-2 mat-fab mb-5"><mat-icon>person</mat-icon></button>
<span class="user">Meu Perfil</span>

<div class="mb-5">
  <h1>Dados</h1>
  <p><b>Nome: </b>Júlia de Souza Gomes</p>
  <p><b>E-mail: </b>julia.s.gomes&#64;hotmail.com</p>
</div>

<h1>Alterar Senha</h1>

<div class="mb-3" style="width: 300px;">
  <label for="senha_antiga" class="form-label">Digite a senha atual</label>
  <input type="password" id="senha antiga" class="form-control">
</div>

<div class="mb-3" style="width: 300px;">
  <label for="senha_antiga" class="form-label">Nova senha</label>
  <input type="password" id="senha antiga" class="form-control">
</div>

<div class="mb-3" style="width: 300px;">
  <label for="senha_antiga" class="form-label">Confirmar nova senha</label>
  <input type="password" id="senha antiga" class="form-control">
</div>

<button type="submit" mat-flat-button color="primary">Atualizar</button>
