<h2 mat-dialog-title>{{data.user.nome }}</h2>
<mat-dialog-content>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome" [value]="data.user.nome">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="nome" [value]="data.user.email">
  </div>
  <div class="mb-3">
    <label for="nome" class="form-label">Senha</label>
    <input type="password" class="form-control" id="nome" [value]="data.user.senha">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-flat-button color="primary" [mat-dialog-close]>Salvar Alterações</button>
</mat-dialog-actions>
