<div class="d-flex justify-content-between align-items-center mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button mat-mini-fab class="me-2 mat-fab mat-fab-icon">
        <mat-icon>room</mat-icon>
      </button>
    </div>
    <span class="user">Gerenciar Pontos {{ nome }}</span>
  </div>
  <button mat-fab extended class="mat-fab mat-fab-btn" (click)="openCadDialog(idlocal_visitacao, nome)">
    <mat-icon>add</mat-icon>Novo Ponto
  </button>
</div>

<div class="mb-3 local p-3">
  <div><span>Local:</span> {{ nome }}</div>
  <div><span>Descrição:</span> {{ descricao }}</div>
</div>

<div class="mb-3">
  <div
    class="d-flex justify-content-between align-items-center inpt"
  >
    <mat-icon class="me-1">search</mat-icon>
    <input type="text" placeholder="Buscar..." />
  </div>
</div>

<div class="tabela">
  <table
    mat-table
    [dataSource]="pontos"
    class="mat-elevation-z8 table-hover"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.idPontoVisitacao }}</td>
    </ng-container>
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>
    <ng-container matColumnDef="imagem">
      <th mat-header-cell *matHeaderCellDef>Imagem</th>
      <td mat-cell *matCellDef="let element"><img [src]="element.imagem" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="mapa">
      <th mat-header-cell *matHeaderCellDef>Mapa</th>
      <td mat-cell *matCellDef="let element"><img [src]="element.mapa" alt=""></td>
    </ng-container>
    <ng-container matColumnDef="audio">
      <th mat-header-cell *matHeaderCellDef>Audio</th>
      <td mat-cell *matCellDef="let element">
        <audio controls>
          <source [src]="element.audio" type="audio/mp3">
          Your browser does not support the audio element.
        </audio>
      </td>
    </ng-container>
    <ng-container matColumnDef="texto">
      <th mat-header-cell *matHeaderCellDef>Texto</th>
      <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
    </ng-container>
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div class="acoes">
          <button
            mat-icon-button
            (click)="openEditDialog(element)"
            class="me-3"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="openDeletDialog(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
        <div class="menu">
          <button mat-button [matMenuTriggerFor]="menu">Ações <mat-icon>keyboard_arrow_down</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button
              mat-menu-item
              (click)="openEditDialog(element)"
              class="me-3"
            >
              <mat-icon>edit</mat-icon> Editar
            </button>
            <button mat-menu-item (click)="openDeletDialog(element)">
              <mat-icon>delete_outline</mat-icon> Deletar
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
