
<body>
  
  <header>
      <div class="container header-content">
        <div class="logo-container">
          <!-- <img src="../../../assets/img/logo.svg" alt="Logo" class="logo"> -->
          <h1>Explorar <span class="accent-dot">•</span> Bosque da Ciência</h1>
        </div>
  
        <div class="language-dropdown">
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              BR Português
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">EN English</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
      </div>
  </header>
    
    <!-- Main Content - Two Panel Layout -->
    <main class="container">
      <div class="panels-container">

        <div class="map-panel">
          <div class="interactive-map">
            <div class="map-img">
              <img class="map" src="../../../assets/img/musa-maps.jpg" alt="Mapa">
            </div>
            <div class="p-3 infos-map">
              <h3>Borboletário</h3>
              <p>Exposição de Borboletas</p>
            </div>
          </div>
        </div>
        
        <div class="details-panel">
          <div class="point-details-container">
               <!-- Main image -->
            <div class="main-image-container">
              <img id="main-image" src="../../../assets/img/inpa/borboleta.png" alt="Ponto de interesse">
              <div class="image-overlay">
                <h2 id="point-title">Borboletário</h2>
              </div>
            </div>

            <div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam congue ex sem. Etiam vitae lectus eget libero consequat ullamcorper in ac dui. In luctus metus vitae finibus tincidunt. Morbi ut commodo ante. 
                Vestibulum suscipit sapien vitae metus semper condimentum. Quisque vehicula mauris a dui viverra, quis blandit ante gravida. 
                Nulla vitae nisi odio. Morbi urna ante, pellentesque ac mattis sit amet, tempor ac nunc. Curabitur dictum eleifend enim eu facilisis. Nunc risus tellus, tristique a odio vitae, imperdiet tincidunt nisl. Aenean vitae semper purus.</p>
              <p>In ut sapien ac mauris fringilla finibus quis in elit. Nulla feugiat leo id ipsum pellentesque, quis auctor est malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi in dapibus lectus. Phasellus nec magna non massa feugiat blandit et non lacus. Praesent aliquam lacinia ligula, et molestie libero sagittis nec.</p>
            </div>

            <div class="action-buttons">
              <button class="action-button audio-action" onclick="handleAudioAction()">
                <span class="icon me-2"><i class="bi bi-volume-up"></i></span>
                <span>Audioguia</span>
              </button>
            </div>
          </div>
        </div>

      </div>
    </main>
 
    <!-- Footer -->
    <footer>
      <p>Guia Virtual - INPA © 2025</p>
    </footer>

  </body>