       <!-- Header -->
    
    <header class="header">
        <div class="container">
            <a class="header-content" href="/home">
                <div class="logo-section">
                    <div class="logo-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"/>
                            <circle cx="12" cy="10" r="3"/>
                        </svg>
                    </div>
                    <div class="logo-text">
                        <h1>GUIA VIRTUAL</h1>
                        <p>Descubra Manaus</p>
                    </div>
                </div>
              </a>
        </div>
    </header>

<main class="container">
  <div class="panels-container">

    <!-- Painel do Mapa -->
    <div class="map-panel">
      <div class="interactive-map">
        <div class="map-img">
          <img class="map" [src]="pontoSelecionado.mapa" alt="Mapa">
        </div>
        <div class="p-3 infos-map">
          <h3>{{ pontoSelecionado.nome }}</h3>
          <p>{{ pontoSelecionado.descricao }}</p>
        </div>
      </div>

      <!-- Botões dos Pontos -->
      <div class="div_btn_ponto">
          <button class="btn-ponto" (click)="selecionarPonto(ponto)" *ngFor="let ponto of pontos">
            <i class="bi bi-geo-alt-fill text-danger"></i> {{ ponto.nome }}
          </button>
      </div>
    </div>

    <!-- Painel de Detalhes -->
    <div class="details-panel">
      <div class="point-details-container">
        <div class="main-image-container">
          <img id="main-image" [src]="pontoSelecionado.imagem" alt="{{ pontoSelecionado.nome }}">
          <div class="image-overlay">
            <h2 id="point-title">{{ pontoSelecionado.titulo }}</h2>
          </div>
        </div>

        <div>
          <p>{{ pontoSelecionado.descricao }}</p>
        </div>

        <div class="action-buttons">
          <button class="action-button audio-action" (click)="handleAudioAction()">
            <span class="icon me-2"><i class="bi bi-volume-up"></i></span>
            <span>Audioguia</span>
          </button>
        </div>
      </div>
    </div>

  </div>
</main>

<footer>
  <p>Guia Virtual - © 2025</p>
</footer>
