<main>
    <div class="col-4">
        <div class="mb-3">
            <a routerLink="/login"><i class="bi bi-chevron-left"></i>   Voltar</a>
        </div>
        <div class="box">
            <h1>Esqueceu a senha?</h1>
            <div>
                <p>Informe seu e-mail e então enviaremos um link para a redefinição da sua senha.</p>
            </div>
            <form>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control">
                </div>
                <button class="btn btn-primary">Enviar Link</button>
            </form>
        </div>
    </div>
</main>