<form [formGroup]="form" (ngSubmit)="onSubmit()">
<h2 mat-dialog-title>{{ data.local.nome }}</h2>
<mat-dialog-content>
  <div class="mb-3">
    <label for="titulo" class="form-label">Nome</label>
    <input type="text" class="form-control" id="titulo" [value]="data.local.titulo" formControlName="titulo">
  </div>
  <div class="mb-3 col-12">
    <label for="descricao" class="form-label">Descrição</label>
    <input type="text" class="form-control" id="descricao" [value]="data.local.descricao" formControlName="descricao">
  </div>
  <div class="mb-3 col-12">
    <label for="localizacao" class="form-label">Localização</label>
    <input type="text" class="form-control" id="localizacao" [value]="data.local.localizacao" formControlName="localizacao">
  </div>
  <div class="mb-3 col-12">
    <label for="tipo_local" class="form-label">Tipo do Local</label>
    <input type="text" class="form-control" id="tipo_local" [value]="data.local.tipo_local" formControlName="tipo_local">
  </div>
  <div class="mb-3 col-12">
    <label for="zona" class="form-label">Zona</label>
    <input type="text" class="form-control" id="zona" [value]="data.local.zona" formControlName="zona">
  </div>
  <div class="mb-3 col-12">
    <label for="imagem" class="form-label">Imagem</label>
    <input type="file" class="form-control" id="imagem">
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end me-3 mb-2">
  <button mat-flat-button [mat-dialog-close]="true" class="mat-raised-button">Cancelar</button> 
  <button mat-raised-button color="accent" type="submit">Salvar Alterações</button>
</mat-dialog-actions>
</form>