<main class="tudo row">
    <div class="bloco1 d-none d-lg-block col-8" id="blocoImg">
    </div>
    <div class="centro col-12 col-lg-4">
        <div class="col-8">
            <div class="d-flex justify-content-center align-items-center mb-5">
                <img src="../../../../assets/img/logo.svg" class="logo me-2">
            </div>
            <h1 class="mb-4 loginTxt">Login</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="user">E-mail</label>
                    <input type="email" id="user" class="form-control" formControlName="emailusuario">
                    @if (form.get('email')?.errors?.['email'] && form.get('email')?.touched) {
                    <span>Insira um e-mail válido.</span>
                    }
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" id="senha" class="form-control" formControlName="senhausuario">
                </div>
                <div class="forgotPassword float-end mb-4">
                    <a routerLink="/esqueceu-a-senha">Esqueceu a senha?</a>
                </div>
                <button type="submit" class="btn btn-success mb-2">Login</button>
            </form>
        </div>
    </div>
</main>