.tudo {
    height: 100%;
}

.bloco1 {
    color: white;
    background-image: url(../../../../assets/img/background2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPassword {
    font-size: 12px;
    color: rgb(93, 93, 93);
}

button {
    width: 100%;
}

.blocoMsg {
    width: 300px;
    text-align: center;
}

.containerMsg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginTxt {
  font-size: 25px;
}

span {
  font-size: 13px;
  color: rgb(151, 0, 0);
}

.logo {
  width: 200px;
}
