:host * {
  transition: all 500ms ease-in-out;
}

.sidenav-header {
    padding-top: 24px;
    text-align: center;
}

img {
    margin-bottom: 10px;
}

.menu-item {
  border-left: 5px solid;
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: rgb(1, 1, 68);
}

.mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated  {
  background-color: rgba(0, 0, 0, 0.05);
}

.mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated.mdc-list-item--with-leading-icon .mdc-list-item__start {
  color: rgb(1, 1, 68);
}

.mat-mdc-list-base.mat-mdc-list-base .mdc-list-item--activated .mdc-list-item__primary-text {
  color: rgb(1, 1, 68);
}