<select [(ngModel)]="localSelecionadoId" (change)="carregarLocal()">
  <option [value]="''">Selecione um local</option>
  <option *ngFor="let local of locais" [value]="local.id">{{ local.nome }}</option>
</select>

<div class="mapa-container" *ngIf="imagemMapa">
  <img [src]="imagemMapa" class="mapa-base">
  <div
    *ngFor="let ponto of pontosDoLocal"
    class="pin"
    cdkDrag
    [cdkDragFreeDragPosition]="posicoes[ponto.id]"
    (cdkDragEnded)="onDragEnded($event, ponto.id)"
  >
    📍 {{ ponto.nome }}
  </div>
</div>

<button (click)="salvarPosicoes()">Salvar posições</button>
