.mat-fab {
  background-color: rgb(1, 1, 68);
  box-shadow: none;
}

.user {
  font-size: 25px;
  color: rgb(1, 1, 68);
  font-weight: 500;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
}

.inpt {
  border: solid 1.5px rgba(1, 1, 68, 0.318);
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}

table {
  box-shadow: none;
}
